<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jovanovic.stefan.restaurant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jovanovic.stefan.restaurant.signUp"
            android:exported="true" />
        <activity
            android:name="com.jovanovic.stefan.restaurant.login"
            android:exported="true"
            android:label="Restaurant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jovanovic.stefan.restaurant.UpdateActivity"
            android:parentActivityName="com.jovanovic.stefan.restaurant.MainActivity"/>
        <activity
            android:name="com.jovanovic.stefan.restaurant.AddActivity"
            android:label="Add food"
            android:parentActivityName="com.jovanovic.stefan.restaurant.MainActivity" />
        <activity
            android:name="com.jovanovic.stefan.restaurant.MainActivity"
            android:label="Food Menu"/>



    </application>

</manifest>